@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/bootstrap";

//Paleta de colores
$primary-color: #343a40;
$secondary-color: #ffffff;
$tertiary-color: #4d4d4d;
$quaternary-color: #747474;
$accent-color: rgb(190, 190, 190);
$background-color: rgb(40, 36, 36);
$disabled-color: #999;
$disabled-bg-color: #f0f0f0;
$border-color: #ddd;
$hover-color: rgba(255, 255, 255, 0.75);
$hover-dark-color: #4d4d4d;



//Datatables
.datatable-table,
.table.table-striped.table-bordered th,
.table.table-striped.table-bordered td{
  color: $disabled-bg-color;
  background-color:  $quaternary-color;
}
.table.table-striped.table-bordered th {
  color: $tertiary-color;
}

.dataTables_wrapper .paginate_button:not(.disabled) a {
  background-color: rgb(40, 36, 36);
  color: $primary-color;
}
.dataTables_wrapper .paginate_button.disabled,
.dataTables_wrapper .paginate_button.disabled:hover,
.dataTables_wrapper .paginate_button.disabled:active {
  color: #999 !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd !important;
  cursor: not-allowed;
}

.dataTables_wrapper .paginate_button.disabled a,
.dataTables_wrapper .paginate_button.disabled:hover a,
.dataTables_wrapper .paginate_button.disabled:active a {
  color: #999 !important;
}


#btnNavbarSearch.bg-semi {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
}

.bg-limi {
  border-top: 1px solid $quaternary-color;
  border-left: 1px solid $quaternary-color;
  border-bottom: 1px solid $quaternary-color;
  border-right: none;
}
//Cards
.card-header {
  background-color: $tertiary-color;
  color: $secondary-color;
}
.card-body {
  background-color: $quaternary-color;
  color: $secondary-color;
}
.card-footer {
  background-color: $tertiary-color;
  color: $secondary-color;
}


.text-dark {
  color: $tertiary-color !important;
}

#usuariosTable, #publicacionesTable {
  tr.elemento-bloqueado {

      td:not(:last-child) {
          opacity: 0.5 !important;
      }
      

      .btn-primary, 
      .btn-secondary {

          opacity: 0.65 !important;
      }
      .btn-primary:hover, .btn-primary:disabled:hover,
      .btn-secondary:hover, .btn-secondary:disabled:hover {
        cursor: not-allowed;
        pointer-events: all;
      }

  }
  tr.elemento-bloqueado:hover {
    td:not(:last-child) {
      opacity: 0.8 !important;
  }
}
}

//Navbar
.navbar-brand {
  background-image: linear-gradient(
    to right, 
    #ffffff,
    #747474,
    #4d4d4d,
    #000000,
    #4d4d4d,
    #747474,
    #ffffff
    );
  background-size: 200% auto;
  animation: posicionamiento 20s linear infinite ;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@keyframes posicionamiento {
  to {
    background-position: 300% center;
  }
}
.navbar .nav-link.text-light:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.navbar .nav-link.text-dark:hover {
  color:     #4d4d4d  !important;
}

.menuToggle span.bg-light {
  background-color: #fff !important;
}

.menuToggle span.bg-dark {
  background-color: #343a40 !important;
}
main {
  height: 100%;
  overflow-y: auto;
}

//Sidebar
#menuToggle {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}

#menuToggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 10px;
  background-color:  #fff;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#menuToggle span:nth-child(1) {
  top: 20px;
}

#menuToggle span:nth-child(2) {
  top: 25px;
}

#menuToggle span:nth-child(3) {

  top: 30px;
}

#menuToggle.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 25px;
}

#menuToggle.open span:nth-child(2) {
  opacity: 0;
}

#menuToggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 25px;
}

//Main
.bg-semi {
  background-color: $primary-color;
}

.bg-soft {
  background-color: $quaternary-color;
}


.btn-edit {
  background-color: $disabled-color;
}
.btn-delete {
background-color: $primary-color;

}
.btn-posts {
background-color: $accent-color;
}


.tr-bloqueado {
  opacity: 0.6;
}
.btn-block {
  background-color: $secondary-color;

}


//Publicación filtros
.gris { filter: grayscale(100%); }
.borroso { filter: blur(3px); }

.sepia { filter: sepia(60%); }
.brillo { filter: brightness(150%); }
.contraste { filter: contrast(200%); }
.rotar { filter: hue-rotate(90deg); }
.sombreado {filter: drop-shadow(13px 13px 15px rgb(0, 255, 221));}
.invertido {filter: invert(50%);}
.sepia-borroso{filter: sepia(60%) blur(3px);}


//Publicación imágenes

.bg-img {
  background-image: url('../assets/img/muestra.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-attachment {
  background-image: url('../assets/img/muestra.jpg');
  background-attachment: fixed;
  background-size: contain;
}


.img-border {
  width: 300px;
  height: 150px;
  border: 1px solid $primary-color;
  margin-bottom: 10px;
}
.img-border-square {
  width: 300px;
  height: 150px;
  border: 1px solid $primary-color;
  background-size: cover;
  margin-bottom: 20px;
}





.cover {object-fit: cover ;}
.fill{object-fit: fill ;}
.contain{object-fit: contain ;}
.scale_down{object-fit: scale-down ;}


.obj-pos { object-position: 50% 0%; }

.view_box img {
  width: 300;
  height: 150px;
  transition: all 0.5s;
  object-view-box: inset(0% 0% 0% 0%);
  border: 1px solid $primary-color;
}

.view_box img:hover {object-view-box: inset(50% 50% 20% 20%);}




